$panelBorder: 1px solid #333;
@mixin noHighlight{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


._Panel {

  position: absolute;
  z-index:100;

  & > div {
    position:absolute;
    left:0;
    top:0;
  }

  div.handle{
    border: $panelBorder;
    border-right:none;
    box-shadow: -2px 0 8px rgba(0,0,0,.2);
    background:rgba(255,255,255,.7);
    cursor:pointer;

    span {
      display: inline-block;
      transition: all 500ms ease-in-out;
      margin-left:20%;
      @include noHighlight;
    }

    &:hover {
      span {
        color:#000;
      }
    }
  }



  div.content {
    border-top: $panelBorder;
    border-bottom: $panelBorder;
    background:#fcfcfc;
    box-shadow: -2px 0 8px rgba(0,0,0,.2);
  }



}

._Panel.right {

  right:0;

  div.handle {
    border-radius: 10px 0 0 10px;
  }

  &.folded div.handle span {
      transform: rotate(0deg);
  }
  &.unfolded div.handle span {
      transform: rotate(180deg);
  }

}