body {
  background: #333;
}

g._Layer path.area {
  stroke: #fff;
}#mainContainer {
  max-width: 800px;
  margin: auto;
  background: #fff;
}

#departements path.area.selected {
  animation: none;
}

._Select form {
  flex: 1 0 auto;
}
._Select a {
  flex: 1 0 auto;
  align-self: flex-end;
  text-align: right;
  margin: 0 !important;
  padding: 0 0.2rem;
  text-decoration: none;
  color: #333 !important;
}

._Panel h3 {
  text-align: center;
}

#boutonsCandidats figure {
  max-width: 100px;
  order: 2;
}
#boutonsCandidats figure._13, #boutonsCandidats figure._14 {
  max-width: none;
  order: 1;
  flex-basis: 50%;
  padding: 10px 0;
}
#boutonsCandidats figure._13 img, #boutonsCandidats figure._14 img {
  max-width: 100px;
}

._ContentBox section > p {
  font-weight: bold;
  text-align: right;
}@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Serif:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  color: #333;
}

p, input, textarea, select, a, li, option {
  color: #888;
}

div {
  position: relative;
}

svg {
  display: block;
  width: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 2px;
  transition: background 0.5s ease-out;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #efefef;
}

img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:focus {
  outline: 0 !important;
}._Buttons {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
._Buttons.round img.photo {
  border-radius: 50%;
}
._Buttons.round img.check {
  position: absolute;
  top: 6%;
  right: 10%;
  width: 20%;
  opacity: 0;
}
._Buttons.round .selected img {
  opacity: 1;
}
._Buttons.square img.photo {
  border-radius: 10%;
  filter: grayscale(1);
}
._Buttons.square img.check {
  display: none;
}
._Buttons.square .selected img.photo {
  filter: grayscale(0);
  opacity: 1;
}
._Buttons figure {
  flex: 0 0 30%;
  position: relative;
  margin: 0 0 1rem 0 !important;
}
._Buttons figure img {
  transition: all 500ms ease-in-out;
}
._Buttons figure figcaption {
  line-height: 1;
  font-style: normal !important;
}
._Buttons figure > img.photo {
  opacity: 0.6;
  width: 70%;
  border: 3px solid white;
  cursor: pointer;
}
._Buttons figure > img.photo:hover {
  opacity: 1;
}
._Buttons figure.selected figcaption {
  font-weight: bold;
}._Panel {
  position: absolute;
  z-index: 100;
}
._Panel > div {
  position: absolute;
  left: 0;
  top: 0;
}
._Panel div.handle {
  border: 1px solid #333;
  border-right: none;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
._Panel div.handle span {
  display: inline-block;
  transition: all 500ms ease-in-out;
  margin-left: 20%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
._Panel div.handle:hover span {
  color: #000;
}
._Panel div.content {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background: #fcfcfc;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
}

._Panel.right {
  right: 0;
}
._Panel.right div.handle {
  border-radius: 10px 0 0 10px;
}
._Panel.right.folded div.handle span {
  transform: rotate(0deg);
}
._Panel.right.unfolded div.handle span {
  transform: rotate(180deg);
}.title, .subtitle, .intertitle {
  display: block;
  width: 100%;
}

.title.right, .subtitle.right {
  text-align: right;
}

.title.center, .subtitle.center {
  text-align: right;
}._Breadcrumb ul {
  white-space: nowrap;
  list-style: none;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0.5rem 0;
  padding: 0;
}
._Breadcrumb li:first-child {
  padding-left: 0;
}
._Breadcrumb li + li::before {
  content: ">";
  font-weight: bold;
  margin: 0 0.5rem;
}
._Breadcrumb a, ._Breadcrumb option[selected] {
  color: #333;
}
._Breadcrumb option:disabled {
  color: #ccc;
  font-style: italic;
}
._Breadcrumb select, ._Breadcrumb input {
  padding: 0.1rem 0.2rem;
  border-radius: 4px;
  border: 1px solid #eee;
}
._Breadcrumb select:focus, ._Breadcrumb input:focus {
  padding: 0.1rem 0.2rem;
  border-radius: 4px;
  border: 1px solid #333;
}
._Breadcrumb span.autocomplete {
  width: 25rem;
  position: relative;
}
._Breadcrumb span.autocomplete input {
  width: 100%;
  display: inline-block;
}
._Breadcrumb span.autocomplete select {
  position: absolute;
  display: none;
  margin-top: 5px;
  left: 0;
  width: 100%;
  overflow: visible;
  z-index: 50;
}
._Breadcrumb span.autocomplete select.visible {
  display: block;
}@keyframes blink {
  0% {
    stroke-width: 1;
  }
  50% {
    stroke-width: 4;
  }
  100% {
    stroke-width: 1;
  }
}
._Layer path.area {
  fill: #fff;
  stroke: #ccc;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
  pointer-events: none;
}
._Layer path.area.clickable {
  transition: all 200ms ease-in-out;
  pointer-events: visiblePainted;
  cursor: pointer;
}
._Layer path.area.clickable:hover {
  stroke-width: 1;
}
._Layer path.area.selected {
  animation: blink 1s linear infinite;
}
._Layer g.labels text.label {
  transition: opacity 500ms ease-in-out;
  fill: #fff;
  text-anchor: middle;
  stroke: #333;
  stroke-width: 4;
  user-select: none;
  pointer-events: none;
  paint-order: stroke;
  vector-effect: non-scaling-stroke;
  opacity: 1;
}
._Layer g.labels text.label.invisible {
  opacity: 0;
}._ContentBox {
  position: absolute;
  top: 500px;
  left: 0;
  min-width: 20rem;
  max-width: 90%;
  min-height: 5rem;
  max-height: 25rem;
  background: white;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 3rem;
  display: none;
}
._ContentBox h2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 100%;
  border-radius: 5px 5px 0 0;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  background: #efefef;
  cursor: default;
}
._ContentBox h2.draggable {
  cursor: grab;
}
._ContentBox h2.dragged {
  cursor: move !important;
}
._ContentBox img.close {
  transition: all 500ms ease-in-out;
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 5px;
  right: 5px;
  cursor: pointer;
  opacity: 0.8;
}
._ContentBox .inner {
  position: relative;
  top: 2.5rem;
  left: 0;
  min-height: 6.5rem;
  max-height: 16.5rem;
  padding: 0.5rem 1rem;
  overflow: auto;
}
._ContentBox .inner::-webkit-scrollbar {
  width: 6px;
}
._ContentBox .inner::-webkit-scrollbar-thumb {
  border-radius: 4px;
  transition: background 0.5s ease-out;
  background: #ccc;
}
._ContentBox .inner::-webkit-scrollbar-track {
  background: #eee;
}._Table {
  width: 100%;
  border-top: thin solid black;
}
._Table td, ._Table th {
  text-align: left;
}
._Table td.right, ._Table th.right {
  text-align: right;
}
._Table td.center, ._Table th.center {
  text-align: center;
}
._Table td > span, ._Table th > span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 2px;
}
._Table td {
  padding: 0.1rem 0.2rem !important;
}
._Table th {
  border-bottom: 1px solid #333 !important;
  padding: 0.3rem 0.2rem !important;
}
._Table tr:last-child td {
  border-bottom: none !important;
}