.HtmlMenuSelect form {
  flex: 1 0 auto;
}
.HtmlMenuSelect a {
  flex: 1 0 auto;
  align-self: flex-end;
  text-align: right;
  margin: 0 !important;
  padding: 0 0.2rem;
  text-decoration: none;
  color: #333 !important;
}

._Panel h3 {
  text-align: center;
}

#boutonsCandidats figure {
  max-width: 100px;
  order: 2;
}
#boutonsCandidats figure._13, #boutonsCandidats figure._14 {
  max-width: none;
  order: 1;
  flex-basis: 50%;
  padding: 10px 0;
}
#boutonsCandidats figure._13 img, #boutonsCandidats figure._14 img {
  max-width: 100px;
}g._Layer path.area {
  stroke: #fff;
}@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Serif:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  color: "#333";
}

p, input, textarea, select, a, li {
  color: "#888";
}

div {
  position: relative;
}

svg {
  display: block;
  width: 100%;
}

.no_highlights {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 2px;
  transition: background 0.5s ease-out;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #efefef;
}

img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:focus {
  outline: 0 !important;
}._Panel {
  position: absolute;
}
._Panel > div {
  position: absolute;
  left: 0;
  top: 0;
}
._Panel div.handle {
  border: 1px solid #333;
  border-right: none;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
._Panel div.handle span {
  display: inline-block;
  transition: all 500ms ease-in-out;
  margin-left: 20%;
}
._Panel div.handle:hover span {
  color: #000;
}
._Panel div.content {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background: #fcfcfc;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
}

._Panel.right {
  right: 0;
}
._Panel.right div.handle {
  border-radius: 10px 0 0 10px;
}
._Panel.right.folded div.handle span {
  transform: rotate(0deg);
}
._Panel.right.unfolded div.handle span {
  transform: rotate(180deg);
}._breadcrumb ul {
  white-space: nowrap;
  list-style: none;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0.5rem 0;
  padding: 0;
}
._breadcrumb li:first-child {
  padding-left: 0;
}
._breadcrumb li + li::before {
  content: ">";
  font-weight: bold;
  margin: 0 0.5rem;
}
._breadcrumb a {
  color: #333;
  font-weight: bold;
}
._breadcrumb select {
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}
._breadcrumb select:focus {
  border: 3px solid #333;
}
._breadcrumb select.selected {
  border: 1px solid #ccc;
}.title, .subtitle, .intertitle {
  display: block;
  width: 100%;
}

.title.right, .subtitle.right {
  text-align: right;
}

.title.center, .subtitle.center {
  text-align: right;
}._Buttons {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
._Buttons.round img.photo {
  border-radius: 50%;
}
._Buttons.round img.check {
  position: absolute;
  top: 6%;
  right: 10%;
  width: 20%;
  opacity: 0;
}
._Buttons.round .selected img {
  opacity: 1;
}
._Buttons.square img.photo {
  border-radius: 10%;
  filter: grayscale(1);
}
._Buttons.square img.check {
  display: none;
}
._Buttons.square .selected img.photo {
  filter: grayscale(0);
  opacity: 1;
}
._Buttons figure {
  flex: 0 0 30%;
  position: relative;
  margin: 0 0 1rem 0 !important;
}
._Buttons figure img {
  transition: all 500ms ease-in-out;
}
._Buttons figure figcaption {
  line-height: 1;
  font-style: normal !important;
}
._Buttons figure > img.photo {
  opacity: 0.6;
  width: 70%;
  border: 3px solid white;
  cursor: pointer;
}
._Buttons figure > img.photo:hover {
  opacity: 1;
}
._Buttons figure.selected figcaption {
  font-weight: bold;
}@keyframes blink {
  0% {
    stroke-width: 1;
  }
  50% {
    stroke-width: 2;
  }
  100% {
    stroke-width: 1;
  }
}
._Layer path.area {
  fill: #fff;
  stroke: #ccc;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
  pointer-events: none;
}
._Layer path.area.clickable {
  transition: all 200ms ease-in-out;
  pointer-events: visiblePainted;
  cursor: pointer;
}
._Layer path.area.clickable:hover {
  stroke-width: 1;
}
._Layer path.area.selected {
  animation: blink 1s linear 10s;
}
._Layer g.labels text.label {
  transition: opacity 500ms ease-in-out;
  fill: #fff;
  text-anchor: middle;
  stroke: #333;
  stroke-width: 4;
  user-select: none;
  pointer-events: none;
  paint-order: stroke;
  vector-effect: non-scaling-stroke;
  opacity: 1;
}
._Layer g.labels text.label.invisible {
  opacity: 0;
}