
#mainContainer {
  max-width:800px;
  margin:auto;
  background:#fff;

}

#departements{
  path.area.selected{
    animation:none;
  }
}




._Select {
  form {
    flex:1 0 auto;
  }
  a {
    flex:1 0 auto;
    align-self:flex-end;
    text-align:right;
    margin:0!important;
    padding: 0 .2rem;
    text-decoration:none;
    color:#333!important;

  }

}

._Panel h3 {
  text-align:center;
}

#boutonsCandidats {
  figure {

    max-width:100px;
    order:2;
  }
  figure._13, figure._14 {
    max-width:none;
    order:1;
    flex-basis:50%;
    padding:10px 0;
    img {
      max-width:100px;
    }
  }
}

._ContentBox{
  section>p {
    font-weight:bold;
    text-align:right;
  }

}

