@keyframes blink {
  0% {
    stroke-width: 1;
  }
  50% {
    stroke-width: 2;
  }
  100% {
    stroke-width: 1;
  }
}


._Layer {


  path.area {

    fill: #fff;
    stroke: #ccc;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
    pointer-events: none;

    &.clickable {
      transition: all 200ms ease-in-out;
      pointer-events: visiblePainted;
      cursor: pointer;
    }

    &.clickable:hover {
      stroke-width: 1;
    }

    &.selected {
      animation: blink 1s linear 10s;
    }
  }

  g.labels {

    text.label {
      transition: opacity 500ms ease-in-out;
      fill: #fff;
      text-anchor: middle;
      stroke: #333;
      stroke-width: 4;
      user-select: none;
      pointer-events: none;
      paint-order: stroke;
      vector-effect: non-scaling-stroke;
      opacity: 1;

      &.invisible {
        opacity: 0;
      }

    }


  }




}

